
html {
    height: 100%;
}
.d-none { 
    display: none;
}
.tooltip-content { 
background-color: #F2F9FF;
padding: 16px;
border: 1px solid #757575;
border-radius: 0.25rem;
max-width: 200px;
position:absolute;
z-index: 1;
margin-top: .5rem;
}
.tooltip-content::before {
content: " ";
width: 0.5625rem;
height: 0.4375rem;
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/tooltip-arrow.svg');
background-repeat: no-repeat;
transform: rotate(180deg);
position: absolute;
bottom: 100%;
left: 0.625rem;
}
.tooltip-content.tt-bottom::before {
bottom: unset;
transform: rotate(0deg);
top: 100%;
}
.tooltip-content.tt-top-mid::before {
left: calc(50% - 0.28125rem);
}
.tooltip-content.tt-top-right::before  {
left: unset;
right: 0.625rem;
}
.tooltip-info, .tooltip-help {
width: 1rem;
height: 1rem;
display: inline-block;
background-repeat: no-repeat;
border-radius: 50%;
}

.tooltip-info:focus-visible, .tooltip-help:focus-visible {
outline: 2px solid #1560BD;
}
.tooltip-info {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/info-icon-default.svg');
}
.tooltip-info:hover {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/info-icon-hover.svg');
}
.tooltip-info:active, .tooltip-info.active {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/info-icon-selected.svg');
}
.tooltip-help {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/help-icon-default.svg');
}
.tooltip-help:hover {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/help-icon-hover.svg');
}
.tooltip-help:active, .tooltip-help.active {
background-image: url('https://masm.ca/ui-framework/images/accessible-tooltips/help-icon-selected.svg');
}
.tooltip-icon-pos {
margin-left: -0.46rem;
margin-bottom: 0.15rem;
}
.tooltip-icon-pos.tt-top-right {
margin-left: unset;
margin-right: -0.46rem;
}
.tooltip-icon-pos.tt-top-mid {
    margin-left: unset;
}
